<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>Controller.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>Controller.AdminPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPage</servlet-name>
        <servlet-class>Controller.OrderPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>Controller.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Controller.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>Controller_News.Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileDetail</servlet-name>
        <servlet-class>Controller_User.ProfileDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guarantee</servlet-name>
        <servlet-class>Controller_Guarantee.Guarantee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartPage</servlet-name>
        <servlet-class>Controller_Cart.CartPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBack</servlet-name>
        <servlet-class>Controller_Feedback.FeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>Controller_About.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>Controller_About.ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Term</servlet-name>
        <servlet-class>Controller_About.Term</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPServlet</servlet-name>
        <servlet-class>Controller.OTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementBrand</servlet-name>
        <servlet-class>Controller.ManagementBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBrand</servlet-name>
        <servlet-class>Controller.DeleteBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>Controller.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrand</servlet-name>
        <servlet-class>Controller.AddBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managementproduct</servlet-name>
        <servlet-class>Controller.ManagementProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/AdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPage</servlet-name>
        <url-pattern>/OrderPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/Blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileDetail</servlet-name>
        <url-pattern>/ProfileDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guarantee</servlet-name>
        <url-pattern>/Guarantee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartPage</servlet-name>
        <url-pattern>/CartPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBack</servlet-name>
        <url-pattern>/FeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Term</servlet-name>
        <url-pattern>/Term</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPServlet</servlet-name>
        <url-pattern>/OTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementBrand</servlet-name>
        <url-pattern>/ManagementBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBrand</servlet-name>
        <url-pattern>/DeleteBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/UpdateBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrand</servlet-name>
        <url-pattern>/AddBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managementproduct</servlet-name>
        <url-pattern>/managementproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
