USE [SmartTech]

GO
/****** Object:  Database [SmartTech]    Script Date: 3/17/2024 4:30:33 PM ******/
CREATE Database [SmartTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartTech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartTech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartTech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartTech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartTech]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDPRODUCT]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDPRODUCT]()
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(product_service_tag) FROM service_tag) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(product_service_tag, 3)) FROM service_tag
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'PRO_0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'PRO_' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[acc_id] [int] IDENTITY(1,1) NOT NULL,
	[acc_name] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[role_id] [int] NOT NULL,
	[activate] [bit] NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [varchar](10) NULL,
	[avatar] [varchar](255) NULL,
 CONSTRAINT [PK__Account__46A222CD5680ED3C] PRIMARY KEY CLUSTERED 
(
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[status] [bit] NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[new_id] [int] NOT NULL,
	[cus_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[cus_name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [varchar](10) NULL,
	[avatar] [varchar](255) NULL,
	[password] [nvarchar](100) NOT NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK__Customer__CD65CB85F4DA87AC] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[productId] [int] NULL,
	[orderId] [int] NULL,
	[dateSend] [date] NULL,
	[stars] [int] NULL,
 CONSTRAINT [PK__feedback__3213E83F97F6A438] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guarantee]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guarantee](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[order_id] [int] NULL,
	[g_date] [date] NULL,
	[status] [int] NULL,
	[return_date] [date] NULL,
	[image] [nvarchar](100) NULL,
	[note] [nvarchar](max) NULL,
	[type] [nvarchar](50) NULL,
	[service_tag] [char](7) NULL,
	[creator_id] [int] NULL,
 CONSTRAINT [PK__Guarante__BFCFB4DDB690D965] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Image__DC9AC955DEF9957C] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[content] [nvarchar](max) NULL,
	[brand_id] [int] NULL,
	[news_type_id] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[news_img_id] [int] NULL,
	[isDeleted] [int] NULL,
 CONSTRAINT [PK__News__4C27CCD85058327E] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_img]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_img](
	[img_id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News_Type]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News_Type](
	[news_type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[news_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[order_date] [date] NOT NULL,
	[total_price] [money] NULL,
	[status] [int] NOT NULL,
	[payment_status] [int] NULL,
	[payment_method] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__Order__4659622942DC639E] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[order_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[price] [money] NULL,
 CONSTRAINT [PK_Order_detail] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[price] [money] NOT NULL,
	[quantity] [int] NULL,
	[sale] [tinyint] NOT NULL,
	[description] [nvarchar](max) NULL,
	[guarantee_time] [tinyint] NULL,
	[brand_id] [int] NULL,
	[type_id] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Product__47027DF50C764BE8] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_img]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_img](
	[image_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK__Product___98EAEE8A1C7B3073] PRIMARY KEY CLUSTERED 
(
	[image_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_tag]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_tag](
	[product_service_tag] [char](7) NOT NULL,
	[product_id] [int] NOT NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_service_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[shipment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[delivery_date] [date] NULL,
	[receiving_date] [date] NULL,
	[phone] [varchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK__Shipment__41466E59AEC7754E] PRIMARY KEY CLUSTERED 
(
	[shipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 3/17/2024 4:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([acc_id], [acc_name], [password], [role_id], [activate], [email], [phone], [avatar]) VALUES (2, N'truong', N'Abc123456@', 1, 1, N'dinhvl@gmail.com', N'99483983', NULL)
INSERT [dbo].[Admin] ([acc_id], [acc_name], [password], [role_id], [activate], [email], [phone], [avatar]) VALUES (3, N'hoc', N'Abc123456@', 2, 1, N'hocle234@gmail.com', N'0949394839', N'')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name], [status], [description], [image]) VALUES (2, N'XiaoMi', 1, N'<p>Xiaomi Corporation is a Chinese designer and manufacturer of consumer electronics and related software, home appliances, and household items. It was founded by Lei Jun in April 2010. Xiaomi is a consumer electronics and smart manufacturing company with smartphones and smart hardware connected by an IoT platform at its core. Its business covers power bank, audio, camera and lifestyle. Xiaomi is one of the top five smartphone vendors in the world.</p>', N'xiaobrand.png')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [cus_name], [address], [email], [phone], [avatar], [password], [active]) VALUES (1, N'hoc', N'', N'hocle234@gmail.com', N'0379522545', N'AA1n5sgb.jpg', N'a8362b56cbcaac8cdc13f02bede5cd93', 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([id], [content], [productId], [orderId], [dateSend], [stars]) VALUES (5, N'good product and good price', 8, 12, CAST(N'2024-06-17' AS Date), 5)
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Guarantee] ON 

INSERT [dbo].[Guarantee] ([record_id], [product_id], [order_id], [g_date], [status], [return_date], [image], [note], [type], [service_tag], [creator_id]) VALUES (1, 8, 12, CAST(N'2024-06-17' AS Date), 3, CAST(N'2024-06-19' AS Date), N'OPPO A58.png', N'none', N'Error due to manufacturer', N'PRO_71 ', 3)
INSERT [dbo].[Guarantee] ([record_id], [product_id], [order_id], [g_date], [status], [return_date], [image], [note], [type], [service_tag], [creator_id]) VALUES (8, 8, 12, CAST(N'2024-06-17' AS Date), 2, NULL, N'iPhone 14.png', N'none', N'User errors', N'PRO_71 ', 3)
SET IDENTITY_INSERT [dbo].[Guarantee] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([image_id], [url]) VALUES (1, N'iPhone 15 Pro Max.png')
INSERT [dbo].[Image] ([image_id], [url]) VALUES (2, N'iPhone 14.png')
INSERT [dbo].[Image] ([image_id], [url]) VALUES (3, N'Samsung Galaxy Z Flip.png')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[News_img] ON 

INSERT [dbo].[News_img] ([img_id], [url]) VALUES (1, N'banner6.jpg')
INSERT [dbo].[News_img] ([img_id], [url]) VALUES (2, N'banner7.jpg')
INSERT [dbo].[News_img] ([img_id], [url]) VALUES (3, N'banner5.jpg')
SET IDENTITY_INSERT [dbo].[News_img] OFF
GO
SET IDENTITY_INSERT [dbo].[News_Type] ON 

INSERT [dbo].[News_Type] ([news_type_id], [type_name]) VALUES (1, N'Giảm giá')
INSERT [dbo].[News_Type] ([news_type_id], [type_name]) VALUES (2, N'Công nghệ')
INSERT [dbo].[News_Type] ([news_type_id], [type_name]) VALUES (3, N'Giới thiệu')
SET IDENTITY_INSERT [dbo].[News_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [customer_id], [order_date], [total_price], [status], [payment_status], [payment_method]) VALUES (5, 1, CAST(N'2024-06-17' AS Date), 21880000.0000, 4, 0, N'COD')
INSERT [dbo].[Order] ([order_id], [customer_id], [order_date], [total_price], [status], [payment_status], [payment_method]) VALUES (6, 1, CAST(N'2024-06-06' AS Date), 28530000.0000, 3, 1, N'VNPay')
INSERT [dbo].[Order] ([order_id], [customer_id], [order_date], [total_price], [status], [payment_status], [payment_method]) VALUES (8, 1, CAST(N'2024-07-01' AS Date), 43730000.0000, 4, 0, N'COD')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[Order_detail] ([order_id], [quantity], [product_id], [price]) VALUES (5, 1, 8, 1185000.0000)
INSERT [dbo].[Order_detail] ([order_id], [quantity], [product_id], [price]) VALUES (6, 1, 4, 1850000.0000)
INSERT [dbo].[Order_detail] ([order_id], [quantity], [product_id], [price]) VALUES (8, 2, 8, 9085000.0000)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_img] ([image_id], [product_id]) VALUES (1, 1)
INSERT [dbo].[Product_img] ([image_id], [product_id]) VALUES (2, 2)
INSERT [dbo].[Product_img] ([image_id], [product_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[service_tag] ([product_service_tag], [product_id], [order_id]) VALUES (N'PRO_01 ', 1, NULL)
INSERT [dbo].[service_tag] ([product_service_tag], [product_id], [order_id]) VALUES (N'PRO_02 ', 1, NULL)
INSERT [dbo].[service_tag] ([product_service_tag], [product_id], [order_id]) VALUES (N'PRO_03 ', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Shipment] ON 

INSERT [dbo].[Shipment] ([shipment_id], [order_id], [address], [delivery_date], [receiving_date], [phone], [name], [note]) VALUES (1, 5, N'15, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội', NULL, NULL, N'0379522545', N'Hoc Le', N'Giao can than')
INSERT [dbo].[Shipment] ([shipment_id], [order_id], [address], [delivery_date], [receiving_date], [phone], [name], [note]) VALUES (2, 6, N'So Nha 10, Phường Thành Công, Quận Ba Đình, Thành phố Hà Nội', CAST(N'2024-06-17' AS Date), CAST(N'2024-06-17' AS Date), N'0922222222', N'Bui Duc Truong', N'')
INSERT [dbo].[Shipment] ([shipment_id], [order_id], [address], [delivery_date], [receiving_date], [phone], [name], [note]) VALUES (3, 8, N'So Nha 10, Xã Ngọc Hồi, Huyện Thanh Trì, Thành phố Hà Nội', NULL, NULL, N'0922222222', N'Bui Duc Truong', N'')
SET IDENTITY_INSERT [dbo].[Shipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([type_id], [type_name], [status]) VALUES (1, N'Smartphone', 1)
INSERT [dbo].[Type] ([type_id], [type_name], [status]) VALUES (2, N'Feature Phone', 1)
INSERT [dbo].[Type] ([type_id], [type_name], [status]) VALUES (3, N'Other Device', 1)
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF__Account__activat__5629CD9C]  DEFAULT ((0)) FOR [activate]
GO
ALTER TABLE [dbo].[Guarantee] ADD  CONSTRAINT [DF__Guarantee__g_dat__59063A47]  DEFAULT (getdate()) FOR [g_date]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF__News__CreatedDat__59FA5E80]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__order_dat__5AEE82B9]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Order_detail] ADD  CONSTRAINT [DF__Order_det__quant__5BE2A6F2]  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__Created__5CD6CB2B]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[service_tag] ADD  CONSTRAINT [IDKH]  DEFAULT ([DBO].[AUTO_IDPRODUCT]()) FOR [product_service_tag]
GO
ALTER TABLE [dbo].[Shipment] ADD  CONSTRAINT [DF__Shipment__shipre__5DCAEF64]  DEFAULT (dateadd(week,(1),getdate())) FOR [address]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK__Account__role_id__5EBF139D] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK__Account__role_id__5EBF139D]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Customer] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Customer]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_News] FOREIGN KEY([new_id])
REFERENCES [dbo].[News] ([news_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_News]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FK__feedback__produc__6383C8BA] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FK__feedback__produc__6383C8BA]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FK_feedback_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FK_feedback_Order]
GO
ALTER TABLE [dbo].[Guarantee]  WITH CHECK ADD  CONSTRAINT [FK__Guarantee__produ__656C112C] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Guarantee] CHECK CONSTRAINT [FK__Guarantee__produ__656C112C]
GO
ALTER TABLE [dbo].[Guarantee]  WITH CHECK ADD  CONSTRAINT [FK_Guarantee_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Guarantee] CHECK CONSTRAINT [FK_Guarantee_Order]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK__News__brand_id__66603565] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK__News__brand_id__66603565]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK__News__news_type___6754599E] FOREIGN KEY([news_type_id])
REFERENCES [dbo].[News_Type] ([news_type_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK__News__news_type___6754599E]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Account1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Admin] ([acc_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Account1]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_News_img] FOREIGN KEY([news_img_id])
REFERENCES [dbo].[News_img] ([img_id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_News_img]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__customer___6B24EA82] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__customer___6B24EA82]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_det__produ__6E01572D] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Order_detail] CHECK CONSTRAINT [FK__Order_det__produ__6E01572D]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_detail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Order_detail] CHECK CONSTRAINT [FK_Order_detail_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__brand_i__6EF57B66] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__brand_i__6EF57B66]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__type_id__6FE99F9F] FOREIGN KEY([type_id])
REFERENCES [dbo].[Type] ([type_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__type_id__6FE99F9F]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Admin] ([acc_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account1]
GO
ALTER TABLE [dbo].[Product_img]  WITH CHECK ADD  CONSTRAINT [FK__Product_i__image__59FA5E80] FOREIGN KEY([image_id])
REFERENCES [dbo].[Image] ([image_id])
GO
ALTER TABLE [dbo].[Product_img] CHECK CONSTRAINT [FK__Product_i__image__59FA5E80]
GO
ALTER TABLE [dbo].[Product_img]  WITH CHECK ADD  CONSTRAINT [FK__Product_i__produ__73BA3083] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_img] CHECK CONSTRAINT [FK__Product_i__produ__73BA3083]
GO
ALTER TABLE [dbo].[service_tag]  WITH CHECK ADD  CONSTRAINT [FK_service_tag_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[service_tag] CHECK CONSTRAINT [FK_service_tag_Product]
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK__Shipment__order___74AE54BC] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK__Shipment__order___74AE54BC]
GO
USE [master]
GO
